body {
    margin-top: 120px;
}
#main-nav {
    box-shadow: 2px 2px 5px #ccc;
    background: #fff;
}
.navbar-brand {
    font-size: 1.65rem;
}
.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
}

#title-book {
font-size: 25px;
margin: 0;
padding: 0;
line-height: 1;
font-weight: 600;
letter-spacing: 0.8px;
text-align: center;
font-family: "Poppins", sans-serif;
}

#book {
    position: relative;
    background: url("../img/bg.jpeg") no-repeat fixed center;
    background-size: cover;
}
#book .overlay {
    background: rgba(153, 204, 255, 0.75); /*#99ccff*/
}
.social-icons {
    text-align: left;
}
.social-icons a {
    margin-right: 1rem;
}
.social-icons a:nth-last-child(1) {
    margin-right: 0;
}
#txtMessage {
    height: 70px;
}
.footer-col-1 {
    text-align: left;
}
.footer-col-2 {
    text-align: right;
}

@media (max-width: 768px) {
    ul {
        text-align: center;
    }
    
    nav ul li {
        display: block;
    }
    .social-icons {
        text-align: center;
    }
    .footer-col-1, .footer-col-2 {
        text-align: center;
    }
}
@media (max-width: 380px) {
    #book {
        min-height: 00px;
    }
}
@media (max-width: 320px) {
    #book .overlay .btn {
        margin-bottom: 10px;
    }
}